body{
  background-color: black;
  color:white;
  font-family: Verdana;
}
.mainheader{
  font-size: 30px;
  font-family: Verdana;
  color:white;
}

.headertext{
  font-size: 18px;
  font-family: Verdana;
  color:white;
}

a:hover {
  color: white;
}

a {
  color: powderblue;
}
